body {
  background-color: MistyRose;
  color: Brown;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}

img {
  height: 150px;
  width: auto;
}

button {
  background-color: salmon;
  border-radius: 30px;
  text-transform: uppercase;
  border: 2px solid purple;
  color: white;
  padding: 5px 10px;
}

button:hover {
  background-color: green;
  border-color: blue;
  color: white;
}

button:focus {
  outline: none;
}

 /* If the browser window is 600px or smaller,
 the background color will be lightblue and image width full screen width */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  img {
    width: 100%;
    height: auto;
  }
}
